@import "~bootstrap/scss/bootstrap";

html {
    /* --- 79. Beyond Black & White --- */
    /*--color-light: #f0eff0;*/
    /*--color-dark: #2f2f28;*/
    /*--color-highlight: #af1c1c;*/
    /*--color-highlight-cpq: #31a2ac;*/
    /*--color-medium: #E5E5E5;*/

    /* --- 78. Orange Accent --- */
    /*--color-light: #FEFFFA;*/
    /*--color-dark: #353c3f;*/
    /*--color-highlight: #ff8d3f;*/
    /*--color-medium: #d5d6d2;*/

    /* --- 77. Sleek & Modern ---*/
    --color-light: #FEFFFA;
    --color-dark: #2f2e33;
    --color-highlight: #3a5199;
    --color-highlight-cpq: #d5d6d2;
    --color-medium: #d5d6d2;

}

.title-logo {
    color: white;
    padding-left: 15px;
    font-family: monospace;
    font-size: 18px;
    line-height: 48px;
    vertical-align: middle;
    margin: 0;
}

.navbar-logo {
    background: var(--color-highlight);
    width: 150px;
}
.navbar-logo i {
    vertical-align: middle;
}

.navbar-logo-link i {
    vertical-align: middle;
}

.scroll-sidebar {
    padding-top: 10px;
}

.page-wrapper {
    position: relative;
    padding-top: 54px;
    min-height: 100%;
}

.top-bar-nav-container {
    /*padding-left: 50px;*/
}

.top-bar-nav {
    left: 150px;
    background-color: var(--color-dark);
    font-weight: 300;
    /*font-size: 12px;*/
    line-height: 1;
    padding-left: 0px;
}

.main-container {
    top: 54px;
    font-size: 15px;
}

.user-logged-in {
    color: #ffffff;
    opacity: 1;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    text-align: right;

}
.user-logged-in i {
    vertical-align: middle;
}
.user-logged-in span {
    vertical-align: middle;
    padding-left: 5px;
}


body {
    background-color: var(--color-light);
}

.ui-has-modules {
    padding: 20px;
}

.ui-module {
    font-size: 14px;
    padding: 20px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    margin-bottom: 20px;
}

.ui-module table {
    font-size: 13px;
}

.ui-module table td {
    vertical-align: middle;
}

.ui-module h5 {
    border-bottom: solid 1px var(--color-medium);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ui-title-bar {
    margin-top:20px;
}
.ui-title-bar h1 {
    padding-left:5px;
    font-size: 35px;
}
.ui-title-bar h2 {
    padding-left:20px;
    font-size: 35px;
}

.ui-title-bar .action-bar {
    text-align: right;
    padding-top: 7px;
    padding-right: 20px;
}

.ui-title-bar .action-bar a {
    margin-left: 10px;
    line-height: 10px;
}

.text-align-right {
    text-align: right;
}

.btn i {
    vertical-align: middle;
}
.btn span {
    padding-left:3px;
    vertical-align: middle;
}

.nav-link i {
    vertical-align: middle;
}

.nav-link span {
    vertical-align: middle;
}

.ui-footer-edit {
    border-top: solid 1px var(--color-medium);
}

.navbar-menu ul li {
    vertical-align: middle;
    line-height:2;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
}

.navbar-menu ul li a {
    color: var(--color-medium);
}

.navbar-menu ul li a:hover {
    text-decoration: none;
    color: var(--color-highlight-cpq) !important;
}
.navbar-menu ul li i:hover {
    color: var(--color-highlight-cpq);
}
.navbar-menu ul li i {
    vertical-align: middle;
}

.navbar-menu ul li span {
    vertical-align: middle;
}

.navbar-menu .menu-active a {
    color: var(--color-highlight-cpq);
}

.navbar-logo-link a {
    color: var(--color-light);
}

.navbar-logo-link a:hover {
    color: var(--color-dark);
}

.modal-lg {
    max-width: 1000px;
}